body {
    background-color: #ababab;
    font-family: Helvetica;
    margin: 0px;
    padding-bottom: 5px;
}
a {
    color: #004875;
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0.5);
}
img { min-width: 50px; }
.headline {
    clear: both;
    margin: 10px 0px 0px 0px;
    padding: 0px 10px;
    font-size: 20px;
    color: #000;
    text-overflow: inherit;
    white-space: normal;
    overflow: visible;
}
.body {
    background-color: #fff;
    border: 1px solid #ADAAAD;
    margin: 10px;
    padding: 8px;
    font-size: 16px;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.expired { color: #f90602; }
.center { text-align: center; }
.date {
    padding: 1px 12px 1px 12px;
    height: 18px;
    border-top: 1px solid #A4B0B9;
    border-bottom: 1px solid #979DA3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8F9EA9), to(#B7C0C7));
    font-size: 18px;
    font-weight: bold;
    color: white;
    line-height: 18px;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
}