/* ELEMENTS */
html {
    -webkit-text-size-adjust: none;
}
body {
    background-color: rgb(245, 246, 246);
    color: #303030;
    font-family: sans-serif;
    margin: 0px;
    padding: 19px 0 0 0;
}
a {
    color: rgb(18, 70, 119);
    font-weight: bold;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(18, 70, 119, 0.5);
}
img { 
    margin-bottom: -25px;
    min-height: 25px;
    min-width: 25px;
    padding-bottom: 5px;
    position: relative;
    top: -25;
    z-index: 1;    
}

/* LAYOUT */
.date {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(218, 239, 255)), to(rgb(218, 239, 255)));
    color: rgb(174, 19, 18);
    display: table;
    height: 30px;
    line-height: 30px;
    padding: 0px 0px 0px 11px;
    position: fixed;
    table-layout: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.date span {
    display: table-cell;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}
.headline {
    clear: both;
    color: rgb(18, 70, 119);
    font-weight: 400;
    margin: 20px 0px 0px 0px;
    overflow: visible;
    padding: 0px 10px;
    text-align: center;
    text-overflow: inherit;
    white-space: normal;
}
.body {
    background-color: #fff;
    border: solid 1px rgb(218, 239, 255);
    border-left: none;
    border-right: none;
    margin-top: 15px;
    padding: 10px;
    position: relative;
}
.body ul {
    list-style-type: none;
    margin: 5px 0;
    padding: 0;
}
.body ol {
    margin: 5px 0 5px 25px;
    padding: 0;
}
.body li {
    margin-bottom: 5px;
}
.body ul li {
    background: transparent url('bullet.png') no-repeat 5px 3px;
    background-size: 10px 13px;
    padding-left: 25px;
}

/* CLASSES */
.expired {
    background-color: rgb(174, 19, 18);
    box-shadow: 0 0 1em #888;
    color: #fff;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
    text-shadow: 0 0 0.5em #444;
}
.image {
    min-height: 33px;
}
.spinner {
    height: 25px;
    margin: 0px auto;
    margin-top: 5px;
    width: 25px;
}
.center {
    text-align: center;
}
.hide {
    display: none;
}

/* RETINA */
@media (-webkit-min-device-pixel-ratio: 2) {
    .body ul li {
        background-image: url('bullet@2x.png');
    }
}
@media (-webkit-min-device-pixel-ratio: 3) {
    .body ul li {
        background-image: url('bullet@3x.png');
    }
}
