/* ELEMENTS */
html {
    -webkit-text-size-adjust: none;
}
body {
    background-color: #ababab;
    color: #303030;
    font-family: sans-serif;
    margin: 0px;
    padding: 19px 0 0 0;
}
a {
    color: #004875;
    font-weight: bold;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 72, 117, 0.5);
    /*-webkit-tap-highlight-color: rgba(203, 13, 38, 0.5);*/
}
img { 
    margin-bottom: -25px;
    min-height: 25px;
    min-width: 25px;
    padding-bottom: 5px;
    position: relative;
    top: -25;
    z-index: 1;    
}

/* LAYOUT */
.date {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cf253b), to(#cf253b));
    color: #fff;
    font-size: 15.2px;
    height: 19px;
    line-height: 15px;
    padding: 3px 12px 0px 12px;
    position: fixed;
    top: 0;
    left: 0;
    /*text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 0px;*/
    width: 100%;
    z-index: 100;
}
.headline {
    clear: both;
    color: #303030;
    font-size: 20px;    
    margin: 10px 0px 0px 0px;
    overflow: visible;
    padding: 0px 10px;
    text-align: center;
    text-overflow: inherit;
    text-shadow: rgb(191, 191, 191) 1px 1px 0px;
    white-space: normal;
}
.body {
    background-color: #fff;
    border: solid 1px #E0E0E0;
    border-left: none;
    border-right: none;
    margin-top: 15px;
    font-size: 15.2px;    
    padding: 10px;
}
.body ul {
    list-style-type: none;
    margin: 5px 0;
    padding: 0;
}
.body ol {
    margin: 5px 0 5px 25px;
    padding: 0;
}
.body li {
    margin-bottom: 5px;
}
.body ul li {
    background: transparent url('bullet.png') no-repeat 5px 3px;
    padding-left: 25px;
}

/* CLASSES */
.expired {
    color: #cf253b;
    text-shadow: rgba(48, 48, 48, 0.75) 0px 1px 0px;
}
.image {
    min-height: 33px;
}
.spinner {
    height: 25px;
    margin: 0px auto;
    margin-top: 5px;
    width: 25px;
}
.center {
    text-align: center;
}

/* RETINA */

@media (-webkit-min-device-pixel-ratio: 2) {
    .body ul li {
        background-image: url('bullet@2x.png');
        background-size: 10px 13px;
    }
}

/* iPad (portrait and landscape) */
/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .headline {
        font-size: 28px;
    }
    .body {
        font-size: 24px;
    }
    img {
        margin-bottom: -50px;         
        min-width: 100px; 
        min-height: 50px;
        top: -50;
    }    
    .image {
        min-height: 58px;
    }    
    .spinner {
        height: 50px;        
        width: 50px;
    }
}*/