/* ELEMENTS */
body {
    background-color: #ababab;
    font-family: Helvetica;
    margin: 0px;
    padding-bottom: 5px;
}
a {
    color: #cf253b;
    -webkit-tap-highlight-color: rgba(203, 13, 38, 0.5);
    text-decoration: none;
}
img { 
    min-width: 50px; 
    min-height: 25px;
    position: relative; 
    z-index: 1;
    top: -25;
    margin-bottom: -25px;
    padding-bottom: 5px;
}

/* LAYOUT */
.date {
    padding: 3px 12px 0px 12px;
    height: 19px;
    /*border-top: 1px solid #A4B0B9;
    border-bottom: 1px solid #979DA3;*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cf253b), to(#cf253b));
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    line-height: 15px;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 0px;
}
.headline {
    clear: both;
    margin: 10px 0px 0px 0px;
    padding: 0px 10px;
    font-size: 20px;
    color: #000;
    text-overflow: inherit;
    text-shadow: rgb(191, 191, 191) 1px 1px 0px;
    white-space: normal;
    overflow: visible;
}
.body {
    background-color: #fff;
    border: 1px solid #ADAAAD;
    margin: 15px;
    padding: 8px;
    font-size: 16px;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.image {
    min-height: 33px;
}
.spinner {
    margin: 0px auto;
    width: 25px;
    height: 25px;
    margin-top: 5px;
}

/* CLASSES */
.expired {
    color: #cf253b;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 1px 0px;
}
.center { text-align: center; }

/* iPad (portrait and landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .date {
        /*display: none;*/
    }
    .headline {
        font-size: 28px;
    }
    .body {
        font-size: 24px;
    }
    img { 
        min-width: 100px; 
        min-height: 50px;
        top: -50;
        margin-bottom: -50px; 
    }    
    .image {
        min-height: 58px;
    }    
    .spinner {
        width: 50px;
        height: 50px;
    }
}